@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --dark-bg-color: hsl(207, 26%, 17%);
  --article-color: hsl(209, 23%, 22%);

  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --text-color: hsl(0, 0%, 100%);
}
/*  default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  padding: 20px;
  background-color: var(--dark-bg-color);
  color: var(--text-color);
  justify-content: center;
  transition: background-color 0.4s;
}

body.light {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);

  .header,.details{
    background-color: var(--light-mode-background);
  }
  .back-btn{
    background-color:var(--light-mode-input);
    color: var(--text-color);
  }
  .filter .form-control input {
    background-color: var(--light-mode-input);
  }
  .filter .region-filter .select {
  background-color: var(--light-mode-input);
  }
}

/*  Display size   */
.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--article-color);
  padding: 10px 20px;
  margin-top: -20px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(221, 228, 221, 0.76);
}

/* Filter section */
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

.filter .form-control {
  width: 100%;
}

.filter .form-control input {
  border: none;
  outline: none;
  background-color: var(--article-color);
  border-radius: 5px;
  padding: 12px;
  color: var(--text-color);
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

.filter .region-filter {
  width: 100%;
}

.filter .region-filter .select {
  background-color: var(--article-color);
  color: var(--text-color);
  border: none;
  width: 200px;
  padding: 12px;
  border-radius: 5px;
}

.filter .form-control input::placeholder {
  color: var(--text-color);
}

/* Countries data*/

.allCountryDiv {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
  /* max-width: 1440px; */
  width: 100%;
  margin-top: 20px;
}

.allCountryDiv article {
  box-shadow: 0 10px 10px hsla(227, 61%, 9%, 0.5);
}

.allCountryDiv article img {
  border-radius: 5px 5px 0 0;
  height: 200px;
}

.allCountryDiv .details {
  background-color: var(--dark-bg-color);
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
}

.allCountryDiv .details h3 {
  padding-bottom: 5px;
}

.allCountryDiv .details h4 {
  padding-bottom: 10px;
}

.allCountryDiv .details h4 span {
  font-weight: 300;
}

@media (min-width: 400px) {
  .allCountryDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .allCountryDiv article img {
    width: 100%;
  }
  .country_card {
    margin-top: 40px;
    height: 100vh;
    width: auto;
  }
  .back-btn {
    margin-top: 2rem;
    display: inline-block;
    background-color: var(--article-color);
    padding: 0.3rem;
    color: var(--text-color);
    font-weight: 100;
  }
  .country_img-div {
    width: 380px;
  }
  .country_img {
    margin-top: 1rem;
    width: 100%;
  }
  .country_name {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .allCountryDiv {
    grid-template-columns: repeat(2, 2fr);
  }
  .allCountryDiv article img {
    width: 100%;
  }

  .country_card {
    display: flex;
  }
  .country_img-div {
    width: 500px;
    align-items: center;
  }
  .country_details {
    margin-left: 100px;
  }
  .country_name {
    font-size: 24px;
    font-weight: 600;
  }
  .country_details > p {
    margin-top: 0.6rem;
  }
}

@media (min-width: 992px) {
  .allCountryDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .header,
  .filter,
  .allCountryDiv {
    padding: 20px;
  }

  .filter {
    flex-direction: row;
  }

  .filter .form-control {
    width: auto;
  }

  .filter .form-control input {
    width: auto;
    margin: 0;
  }

  .filter .region-filter {
    width: auto;
  }

  .country_card {
    display: flex;
  }
  .country_img-div {
    width: 600px;
    align-items: center;
  }
  .country_details {
    margin-left: 140px;
  }
  .country_name {
    font-size: 24px;
    font-weight: 600;
  }
  .country_details > p {
    margin-top: 0.6rem;
  }
}

@media (min-width: 1440px) {
  .allCountryDiv {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
  .back-btn {
    margin-top: 4rem;
    display: inline-block;
    background-color: var(--article-color);
    padding: 0.5rem;
    color: var(--text-color);
    border-radius: 5%;
  }
  .country_card {
    display: flex;
    height: 100vh;
  }
  .country_img-div {
    width: 800px;
  }
  .country_img {
    height: 25rem;
    margin-top: 2.5rem;
  }
  .country_details {
    margin-left: 9rem;
    margin-top: 3rem;
  }
  .country_name {
    margin-bottom: 3.5rem;
    font-weight: 800;
    font-size: 2.5rem;
  }
  .country_details > p {
    margin-top: 1.2rem;
  }
}

.countryCard {
  display: grid;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.back-btn {
  font-weight: 600;
}
